<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${time}] [${severity}] ${node}: ${message}"/>
  <group ns="drone">
    <node name="alpha_olympe_bridge" pkg="alpha_olympe_bridge" type="bridge_node.py">
      <remap from="gimbal" to="/controller_mux/gimbal" />
      <remap from="pcmd" to="/controller_mux/pcmd" />
      <remap from="takeoff" to="/teleop/takeoff" />
      <remap from="landing" to="/teleop/landing" />
    </node>
    <group ns="pilot">
      <node name="alpha_target_extrapolator" pkg="alpha_target_extrapolator" type="extrapolator_node.py">
        <remap from="sync" to="/drone/odom" />
      </node>
    </group>
  </group>

  <group ns="controller_mux">
    <node name="alpha_controller_mux" pkg="alpha_controller_mux" type="mux_node.py">
      <remap from="teleop_pcmd" to="/teleop/pcmd" />
      <remap from="teleop_gimbal" to="/teleop/gimbal" />
      
      <remap from="autopilot_x" to="/xyz_controller/x_controller/control_effort" />
      <remap from="autopilot_y" to="/xyz_controller/y_controller/control_effort" />
      <remap from="autopilot_z" to="/xyz_controller/z_controller/control_effort" />
      <remap from="autopilot_yaw" to="/yaw_controller/control_effort" />
      <remap from="autopilot_gimbal" to="/gimbal_controller/control_effort" />
    </node>
  </group>

  <group ns="teleop">
    <node name="alpha_teleop" pkg="alpha_teleop" type="teleop_node.py">
      <param name="axis_map" type="string" value="0 1 3 4 7" />
    </node>

    <node name="joy" pkg="joy" type="joy_node">
      <param name="dev" value="/dev/input/js1" />
      <param name="deadzone" type="double" value="0.1" />
      <param name="autorepeat_rate" type="double" value="20" />
      <param name="coalesce_interval" type="double" value="0.05" />
    </node>
  </group>

  <group ns="tracker">
    <node name="alpha_target_tracker" pkg="alpha_target_tracker" type="tracker_node.py">
      <remap from="camera" to="/drone/camera" />
    </node>
  </group>

  <group ns="gimbal_controller">
    <node name="gimbal_pid" pkg="pid" type="controller">
      <!-- TODO: fine-tune these parameters -->
      <param name="Kp" value="2" />
      <param name="Ki" value="0.3" />
      <param name="Kd" value="0.05" />
      <param name="upper_limit" value="1.0" />
      <param name="lower_limit" value="-1.0" />
      <param name="windup_limit" value="0.2" />
      <param name="always_publish" type="bool" value="true" />

      <remap from="pid_enable" to="/tracker/tracking_status" />
      <remap from="state" to="/tracker/target_location_y" />
    </node>

    <node name="gimbal_setpoint" pkg="rostopic" type="rostopic" args="pub setpoint std_msgs/Float64 0.0 -r 1" />
  </group>

  <group ns="yaw_controller">
    <node name="yaw_pid" pkg="pid" type="controller">
      <!-- TODO: fine-tune these parameters -->
      <param name="Kp" value="75.0" />
      <param name="Ki" value="10.0" />
      <param name="Kd" value="5.0" />
      <param name="upper_limit" value="100.0" />
      <param name="lower_limit" value="-100.0" />
      <param name="windup_limit" value="20" />
      <param name="always_publish" type="bool" value="true" />

      <remap from="pid_enable" to="/tracker/tracking_status" />
      <remap from="state" to="/tracker/target_location_x" />
    </node>

    <node name="yaw_setpoint" pkg="rostopic" type="rostopic" args="pub setpoint std_msgs/Float64 0.0 -r 1" />
  </group>

  <group ns="xyz_controller">
    <group ns="x_controller">
      <node name="x_pid" pkg="pid" type="controller">
        <param name="Kp" value="8.0" />
        <param name="Ki" value="0.8" />
        <param name="Kd" value="10.0" />
        <param name="upper_limit" value="25.0" />
        <param name="lower_limit" value="-25.0" />
        <param name="windup_limit" value="20" />
        <param name="always_publish" type="bool" value="true" />

        <remap from="pid_enable" to="/xyz_controller/enable_x" />
        <remap from="state" to="/xyz_controller/dx" />
      </node>
      <node name="x_setpoint" pkg="rostopic" type="rostopic" args="pub setpoint std_msgs/Float64 0.0 -r 1" />
    </group>
    <group ns="y_controller">
      <node name="y_pid" pkg="pid" type="controller">
        <param name="Kp" value="8.0" />
        <param name="Ki" value="0.8" />
        <param name="Kd" value="10.0" />
        <param name="upper_limit" value="25.0" />
        <param name="lower_limit" value="-25.0" />
        <param name="windup_limit" value="20" />
        <param name="always_publish" type="bool" value="true" />

        <remap from="pid_enable" to="/xyz_controller/enable_y" />
        <remap from="state" to="/xyz_controller/dy" />
      </node>
      <node name="y_setpoint" pkg="rostopic" type="rostopic" args="pub setpoint std_msgs/Float64 0.0 -r 1" />
    </group>
    <group ns="z_controller">
      <node name="z_pid" pkg="pid" type="controller">
        <param name="Kp" value="8.0" />
        <param name="Ki" value="0.8" />
        <param name="Kd" value="10.0" />
        <param name="upper_limit" value="25.0" />
        <param name="lower_limit" value="-25.0" />
        <param name="windup_limit" value="20" />
        <param name="always_publish" type="bool" value="true" />

        <remap from="pid_enable" to="/xyz_controller/enable_z" />
        <remap from="state" to="/xyz_controller/dz" />
        
      </node>
      <node name="z_setpoint" pkg="rostopic" type="rostopic" args="pub setpoint std_msgs/Float64 0.0 -r 1" />
    </group>
    <node name="xyz_setpoint" pkg="alpha_target_follower" type="follower_node.py">
      <remap from='enabled' to='/teleop/follower_enabled' />
    </node>
  </group>

  <!-- <group ns="slam">
    <node name="orb_slam3" pkg="ORB_SLAM3" type="Mono" args="$(find ORB_SLAM3)/../../../Vocabulary/ORBvoc.txt $(find alpha_bringup)/slam/camera.yaml">
      <remap from="/camera/image_raw" to="/drone/camera" />
    </node>
  </group> -->

  <!-- <group ns="localization">
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
      <param name="magnetic_declination_radians" value="0"/>
  
      <param name="yaw_offset" value="0"/>
  
      <remap from="imu/data" to="/drone/imu" />
      <remap from="gps/fix" to="/drone/location" />
    </node>
  </group> -->
</launch>
